@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

.title{
    padding: 1rem 2rem;
    text-align: center;

}

.escolha{
    display: flex;
    justify-content: center;
    gap: 30px
}

.imga{
    width: 250px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 3rem;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
}

div#res {
    display: none;
    margin: 2rem auto;
    padding: 1.2rem;
    background-color: rgba(185, 183, 183, 0.459);
    width: 50%;
    border-radius: 5px;
    
    
}




footer{
    text-align: center;
    margin-top: 2rem;

}